body{
  background: #cb2d3e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #cb2d3e , #ef473a); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #cb2d3e , #ef473a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav{
  font-family: 'RisingSun';
}

a{
  color: white;
}
a:hover, a:focus{
  color: rgb(236, 120, 63);
}

h1{
  font-family: 'RisingSun';
}

header{
  margin-top:72px;
  min-height: auto;
  height: 110%;
  overflow-y: hidden;
}
.home-header-content{
  margin-top: 120px;
  font-size: 1.8em;
  color: white;
  font-family: 'RisingSun';
  text-align: right;
}

.device{
  width: 300px;
  margin: 40px;
}

.device .device-content{
  position: absolute;
  top: 88px;
  left: 79px;
  width: 178px;
}

.app-container{
  margin-top: 72px;
  /*min-height: calc(100vh - 80px);*/
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

/* Calendar Styles */
.calendar {
  display: block;
  width: 300px;
  border: 1px solid rgb(150, 150, 150);
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
}

.calendar .calendar-title{
  display:block;
  height: 30px;
  background-color: rgb(39, 141, 207);
  color: #FFF;
  text-align: center;
  padding: 0;
}
.calendar .calendar-title span{
  height: 100%;
  text-align: center;
  vertical-align: -5px;
  text-transform: capitalize;
  box-sizing: content-box;
}
.calendar .calendar-title .calendar-title-text{
  width: 100%;
  display: inline-block;
}
.calendar .calendar-title .calendar-back,
.calendar .calendar-title .calendar-forward {
  width: 30px;
  height: 30px;
  position: absolute;
}
.calendar .calendar-title .calendar-back {
  left: 15px;
}
.calendar .calendar-title .calendar-forward{
  left: 285px;
}
.calendar .calendar-title .calendar-back a,
.calendar .calendar-title .calendar-forward a{
  display:block;
  height: 100%;
  width: 100%;
}
.calendar .calendar-week{
  width:100%;
  display: block;
  box-sizing: border-box;
}
.calendar .calendar-week span{
  width: calc(100% / 7);
  display: block;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border: 1px solid rgb(170, 170, 170);
}
.calendar .calendar-week .in-month{
  font-weight: bold;
}
.calendar .calendar-week .selected{
  background-color: rgb(39, 141, 207);
  color: #FFF;
}
.calendar .calendar-names{
  width: 100%;
  font-weight: bold;
  color: rgb(39, 141, 207);
}

.date-selected{
  clear: left;
}
.date-selected .date-text{
  text-transform: capitalize;
  font-weight: bold;
}

.hour-selection{
  display: block;
  width: 200px;
  float: left;
  margin-bottom: 10px;
}
.hour-selection .hour-title{
  display:block;
  height: 30px;
  border: 1px solid rgb(150, 150, 150);
  background-color: rgb(39, 141, 207);
  color: #FFF;
  text-align: center;
}
.hour-selection .hour-title span{
  height: 100%;
  text-align: center;
  vertical-align: -5px;
  text-transform: capitalize;
  box-sizing: content-box;
}

/* Events List Styles */
.events-list-table td{
  max-width: 0px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

#locationSelect {
  width:100%;
  height: 200px;
  margin-bottom: 20px;
}


/* Angular Animations */
/*
.view.ng-enter{
  animation: fadeIn 1s;
}

.view.ng-leave{
  animation: fadeOut.3s;
}*/

/* Font Faces */
@font-face {
  font-family: 'RisingSun';
  src:  url('../fonts/RisingSun-Light.woff') format('woff');
}

/* Form Pages */
.form-page {
  min-height: 300px;
  padding:10px;
  /*border: 1px solid rgba(0, 163, 129, 0.67);*/
}

.page-list {
  margin: 0 auto !important;
}

/* Valores para la directiva de mapas de Google */
.angular-google-map-container { height: 200px; }

.dashboard-navigation {
  margin-top: 15px;
}
