<div class="modal-demo">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Edición de Fecha<button type="button" ng-click="vm.cancel()" class="close"><span
aria-hidden="true">×</span><span class="sr-only">Close</span></button></h3>
  </div>
  <div class="modal-body" id="modal-body">
    CALENDARIO con la fecha: {{vm.dateData.date}}

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"  ng-click="vm.cancel()">Cancelar</button>
    <button type="button" class="btn btn-primary">Actualizar Fecha</button>
  </div>
</div>
